.card-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.card-box {
    max-width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 10px auto;
}

.card-box img {
    max-width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    padding: 5px;
}

.card-box .card-heading,
.card-box .card-text {
    width: 100%;
    padding: 0 5px;
    min-width: 200px;
}





p {
    margin: 10px 0;
}

@media (min-width: 700px) {
    .card-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .card-box {
        max-width: 700px;
    }

    .card-box img {
        float: left;
    }

    .card-box .card-heading,
    .card-box .card-text {
        float: right;
        width: 50%;
    }
}

.score {
    color: green;
}

.first {
    border: solid #FFD700;
    border-width: 0 5px;
}

.second {
    border: solid#C0C0C0;
    border-width: 0 5px;
}

.third {
    border: solid#CD7F32;
    border-width: 0 5px;
}